body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
    padding: 40px 0;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

.subtitle {
    color: #94a3b8;
    margin-bottom: 30px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    background: #ef4444;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background: #dc2626;
}

.result-box {
    margin-top: 40px;
    padding: 20px;
    background: #1e293b;
    border-radius: 12px;
    display: none;
}

.score {
    font-size: 24px;
    font-weight: bold;
}

.risk {
    padding: 6px 12px;
    border-radius: 6px;
    display: inline-block;
    margin-top: 10px;
}

.low {
    background: #22c55e;
}

.medium {
    background: #facc15;
    color: black;
}

.high {
    background: #ef4444;
}

.pattern-card {
    background: #334155;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
